[Desktop Entry]
Version=1.0
Type=Application
Name=Sound
Name[af]=Klank
Name[ar]=الصوت
Name[de]=Ton
Name[es]=Sonido
Name[fr]=Son
Name[gl]=Son
Name[id]=Suara
Name[it]=Suoni
Name[lt]=Garsas
Name[nl]=Geluid
Name[oc]=Son
Name[pl]=Dźwięk
Name[pt]=Som
Name[pt_BR]=Som
Name[sv]=Ljud
Name[tr]=Ses
Name[ur]=آواز
Comment=Adjust the volume level
Comment[af]=Verstel die volume vlak
Comment[ar]=تحديد مستوى الصوت
Comment[de]=Lautstärke anpassen
Comment[es]=Ajustar el nivel del volumen
Comment[fr]=Ajuste le volume du son
Comment[gl]=Axustar o nivel do volume
Comment[id]=Sesuaikan level volume
Comment[it]=Regolare il livello del volume
Comment[lt]=Reguliuoti garsio lygį
Comment[nl]=Pas het volumeniveau aan
Comment[oc]=Ajustar lo nivèl de son
Comment[pl]=Dostosowywanie poziomu głośności
Comment[pt]=Ajustar o nível de volume
Comment[pt_BR]=Ajustar o nível de volume
Comment[sv]=Justera volymnivån
Comment[tr]=Ses seviyesini ayarla
Comment[ur]=آواز کے لیویل کو اراستہ کریں۔
Keywords=Microphone;Volume;Fade;Balance;Headset;Speakers;Headphones;Audio;Mixer;Output;Input;Devices;Playback;Recording;System Sounds;Sound Card;Settings;Preferences;
Keywords[af]=Mikrofoon;Volume;Doof;Balans;Kopstuk;Luidsprekers;Oorfone;Oudio;Menger;Uitsette;Insette;Toestelle;Terugspeel;Opname;Stelselklanke;Klankkaart;Instellings;Voorkeure
Keywords[ar]=ميكروفون؛حجم الصوت؛تلاش؛توازن؛سماعة؛مكبرات الصوت؛سماعة الرأس؛الصوت؛خلاط الصوت؛مخرج؛مدخل؛أجهزة؛تشغيل؛تسجيل؛أصوات النظام؛بطاقة الصوت؛الإعدادات؛التفضيلات؛
Keywords[de]=Mikrofon;Lautstärke;Überblendung;Balance;Headset;Lautsprecher;Kopfhörer;Audio;Mischpult;Ausgang;Eingang;Geräte;Wiedergabe;Aufnahme;Systemklänge;Soundkarte;Einstellungen;Voreinstellungen;
Keywords[es]=Micrófono;Volumen;Fundido;Balance;Auriculares;Altavoces;Audio;Mezclador;Salida;Entrada;Dispositivos;Reproducción;Grabación;Sonidos del sistema;Tarjeta de sonido;Configuración;Ajustes;Preferencias;
Keywords[fr]=Microphone;Volume;Fondre;Balance;Casque;Micro;Écouteurs;Audio;Mélangeur;Sortie;Entrée;Appareils;Lecture;Enregistrement;Sons système;Carte son;Paramètres;Préférences;
Keywords[gl]=Micrófono; Volume; Esvaecer; Balance; Auriculares; Altofalantes; Auriculares; Audio; Mesturador; Saída; Entrada; Dispositivos; Reprodución; Gravación; Sons do sistema; Tarxeta de son; Configuración; Preferencias;
Keywords[id]=Mikrofon; Volume; Fade; Keseimbangan; Headset; Speaker; Headphone; Audio; Mixer; Keluaran; Masukan; Perangkat; Pemutaran; Perekaman; Suara Sistem; Kartu Suara; Pengaturan; Preferensi;
Keywords[it]=Microfono;Volume;Dissolvenza;Equilibrio;Auricolare;Altoparlanti;Cuffie;Audio;Mixer;Output;Input;Dispositivi;Riproduzione;Registrazione;Suoni di Sistema;Scheda Audio;Impostazioni;Preferenze;
Keywords[lt]=Mikrofonas;Garsis;Garsumas;Išblukimas;Balansas;Ausinės su mikrofonu;Ausinės;Garsiakalbiai;Audio;Maišiklis;Išvestis;Išvedimas;Įvestis;Įvedimas;Įrenginiai;Atkūrimas;Grojimas;Įrašymas;Įrašas;Sistemos garsai;Garso plokštė;Nustatymai;Nuostatos;Parinktys;
Keywords[nl]=Microfoon;Volume;Fade;Balans;Hoofdtelefoon;Luidsprekers;Audio;Mixer;Uitvoer;Invoer;Apparaten;Afspelen;Opnemen;Systeemgeluiden;Geluidskaart;Voorkeuren;
Keywords[oc]=microfòn;volum;balance;escotador;escotaire;parlaire;naut;àudio;audio;mixer;sortida;entrada;periferics;enregistrament;son;sistèma;carta;paramètres;preferéncias;
Keywords[pl]=Mikrofon;Głośność;Zanikanie;Balans;Zestaw słuchawkowy;Głośniki;Słuchawki;Audio;Mikser;Wyjście;Wejście;Urządzenia;Odtwarzanie;Nagrywanie;Dźwięki systemowe;Karta dźwiękowa;Ustawienia;Preferencje;
Keywords[pt]=Microfone;Volume;Desvanecer;Equilíbrio;Auscultadores;Altifalantes;Áudio;Mixer;Saída;Entrada;Dispositivos;Reprodução;Gravação;Sons do sistema;Placa de som;Definições;Preferências;
Keywords[pt_BR]=Microfone;Volume;Desvanecer;Balanço;Headset;Caixas de som;Fones de ouvido;Áudio;Mixer;Saída;Entrada;Dispositivos;Reprodução;Gravação;Sons do sistema;Placa de som;Configurações;Preferências;
Keywords[sv]=Mikrofon;Volym;Fade; Balans;Headset;Högtalare;Hörlura;Ljud;Mixer;Utgång; Ingång;Enheter;Uppspelning; Inspelning; Systemljud;Ljudkort; Inställningar;Inställningar;Preferenser
Keywords[tr]=Mikrofon;Ses Seviyesi;Sönük;Denge;Kulaklık;Hoparlörler;Kulaklıklar;Ses;Mikser;Çıkış;Giriş;Cihazlar;Oynatma;Kayıt;Sistem Sesleri;Ses Kartı;Ayarlar;Tercihler;
Keywords[ur]=٘٘مائکروفون؛ آواز؛فیڈ؛بیلینس؛ہیڈسیٹ؛اسپیکر؛ہیڈفون؛آڈیو؛مکسر؛آؤٹ پٹ؛انپٹ؛ڈِوائس؛پلیبئک؛ریکارڈنگ؛سیسٹم سائونڈ؛سائونڈ کارڈ؛سیٹینگس؛پریفرینسیس؛
Icon=preferences-sound
TryExec=pavucontrol
Exec=pavucontrol
Actions=
OnlyShowIn=XFCE;
Categories=Settings;X-XFCE-HardwareSettings;X-XFCE-SettingsDialog;
StartupNotify=true
